body{
    background-image: url(images/cover.png);
    background-size: cover;
}

#menu{
    width: 25px;
    height: 25px;
}

img{
    width: 150px;
    height: 150px;
}

#baratos{
    margin: auto;
    
}

/* #buenos{
    width: 100px;
    height: 100px;
}

#profesionales{
    width: 100px;
    height: 100px;
}  */