body{
    background-image: url(images/cover.png);
    background-size: cover;
}

#home{
    width: auto;
    height: 7em;
}

button{
    cursor: pointer;
    text-align: center;
    margin-left: 2em; /*margen entre botones*/
    padding: 0;
    color:black;
    font-weight: bold;
    font-size: 1em; /*tamaño letra dentro de botones*/
    border: none;
    border-color: transparent;
    border-style: ridge;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
}

.botones{
    margin-top: 2em;
}

img{
    width: 10em;
    height: 10em;
}

.portatiles{
    float: right;
    margin-right: 5em;
    width: 125px;
    height: 125px;
    text-align: center;
    border-radius: 10em;
}

.container{
    margin-left: 10em;
}
