<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/static/css/master.css">
        <link rel="shortcut icon" href="/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>PC MARKET</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/layout/index.html">
                <img class="img-header" src="/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>
        </nav>
        
        <span id="recurso">
            <a href="/layout/ordenador1.html"><img src="/static/images/portatil1.jpg" alt="portatil1"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador2.html"><img src="/static/images/portatil2.jpg" alt="portatil2"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador3.html"><img src="/static/images/portatil3.jpg" alt="portatil3"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador4.html"><img src="/static/images/portatil4.jpg" alt="portatil4"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador5.html"><img src="/static/images/portatil5.jpg" alt="portatil5"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador6.html"><img src="/static/images/portatil6.jpg" alt="portatil6"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador7.html"><img src="/static/images/portatil7.jpg" alt="portatil7"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador8.html"><img src="/static/images/portatil8.jpg" alt="portatil8"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador9.html"><img src="/static/images/portatil9.jpg" alt="portatil9"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador10.html"><img src="/static/images/portatil10.jpg" alt="portatil10"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador11.html"><img src="/static/images/portatil11.jpg" alt="portatil11"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador12.html"><img src="/static/images/portatil12.jpg" alt="portatil12"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador13.html"><img src="/static/images/portatil13.jpg" alt="portatil13"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador14.html"><img src="/static/images/portatil14.jpg" alt="portatil14"></a>
        </span>
        
        <span id="recurso">
            <a href="/layout/ordenador15.html"><img src="/static/images/portatil15.jpg" alt="portatil15"></a>
        </span>
        
    </body>
</html>