<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/portatil.css">
        <link rel="shortcut icon" href="/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Asus Rog Strix SCAR 17 G733QS-K4170T 64 GB AMD Ryzen 9 5900HX NVIDIA 3080 1 TB SSD + 1 TB HDD</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/layout/index.html">
                <img class="img-header" src="/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>

        </nav>
        <div id="ordenador12" class="producto" style="width:70%;float:left;text-align:center;position:static;">
            <a href="/layout/ordenador12.html">
                <img id="recurso" src="/static/images/portatil12.jpg" alt="portatil12">
            </a>
            <br>
            <strong>Asus Rog Strix SCAR 17 G733QS-K4170T 64 GB AMD Ryzen 9 5900HX NVIDIA 3080 1 TB SSD + 1 TB HDD</strong>
            <br>
            <strong>Precio: 3319.63 €/unidad</strong>
        </div>
    </body>
</html>