<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/portatil.css">
        <link rel="shortcut icon" href="/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Acer ConceptD 7 Pro CN715-72P-798Z 32 GB Intel Core i7-10875 NVIDIA Quadro RTX 5000 1 TB SSD</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/layout/index.html">
                <img class="img-header" src="/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>
        </nav>
        <div id="ordenador14" class="producto" style="width:70%;float:left;text-align:center;position:static;"">
            <a href="/layout/ordenador15.html">
              <img id="recurso" src="/static/images/portatil15.jpg" alt="portatil15">
            </a>
            <br>
            <strong>Acer ConceptD 7 Pro CN715-72P-798Z 32 GB Intel Core i7-10875 NVIDIA Quadro RTX 5000 1 TB SSD</strong>
            <br>
            <strong>Precio: 3181.73 €/unidad</strong>
        </div>
    </body>
</html>