<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/portatil.css">
        <link rel="shortcut icon" href="/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>MSI WS63 8SL-013ES Vpro 32 GB Intel Core i7-8850H NVIDIA P4200 512 GB SSD + 1TB HDD</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/layout/index.html">
                <img class="img-header" src="/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>
        </nav>
        <div id="ordenador11" class="producto" style="width:70%;float:left;text-align:center;position:static;">
            <a href="ordenador11.html">
                <img id="recurso" src="/static/images/portatil11.jpg" alt="portatil11">
            </a>
            <br>
            <strong>MSI WS63 8SL-013ES Vpro 32 GB Intel Core i7-8850H NVIDIA P4200 512 GB SSD + 1TB HDD</strong>
            <br>
            <strong>Precio: 5930.85 €/unidad</strong>
        </div>
    </body>
</html>