<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/portatil.css">
        <link rel="shortcut icon" href="/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Lenovo IdeaPad 3 15IGL05 8 GB Intel Celeron N4020 256 GB SSD</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/layout/index.html">
                <img class="img-header" src="/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>

        </nav>
        <br>
        <img src="/static/images/portatil1.jpg" alt="portatil1">
    </body>
</html>