<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/P1/Tienda/static/css/portatil.css">
        <link rel="shortcut icon" href="/P1/Tienda/static/images/cover.ico">
        <!-- Required meta tags -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Asus VivoBook Pro 15 M3500QC-KJ161T 16 GB AMD Ryzen 7 5800H NVIDIA RTX 3050 512 GB SSD</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/P1/Tienda/layout/index.html">
                <img class="img-header" src="/P1/Tienda/static/images/cover.png" alt="">
                <span id="header">PC MARKET</span>
            </a>

        </nav>
        <br>
        <img src="/P1/Tienda/static/images/portatil9.jpg" alt="portatil9>
    </body>
</html>